<!-- NAV BAR -->

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="/creatures">Home</a></li>
  <li role="presentation"><a href="/creatures/new">New Creature</a></li>
</ul>

<h3><%= @creature.name %></h3>
<p><%= @creature.description %></p>
<%= button_to "Delete", @creature, method: :delete %>